In [1]:
import pandas as pd
import wget
import gzip
import time
from sqlalchemy import create_engine

In [2]:
# Download data from 01/2021
wget.download('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz')

# Unzip data
with gzip.open('yellow_tripdata_2021-01.csv.gz', 'rb') as f_in:
    with open('yellow_tripdata_2021-01.csv', 'wb') as f_out:
        f_out.write(f_in.read())

# delete all gz files
!rm *.gz

In [3]:
# read data
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
df.sample(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
31,2,2021-01-01 00:36:08,2021-01-01 00:38:29,1,0.76,1,N,238,166,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80,0.0
62,1,2021-01-01 00:46:05,2021-01-01 00:59:55,1,3.70,1,N,249,229,1,13.5,3.0,0.5,10.00,0.0,0.3,27.30,2.5
81,1,2021-01-01 00:47:18,2021-01-01 00:56:54,3,2.50,1,N,262,142,1,10.0,3.0,0.5,2.00,0.0,0.3,15.80,2.5
66,2,2021-01-01 00:23:01,2021-01-01 00:40:05,1,4.09,1,N,261,48,1,15.5,0.5,0.5,3.86,0.0,0.3,23.16,2.5
56,2,2021-01-01 00:33:33,2021-01-01 00:36:07,3,0.77,1,N,263,236,1,4.5,0.5,0.5,1.66,0.0,0.3,9.96,2.5

In [6]:
engine =  create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
engine.connect()

In [8]:
table_ddl = pd.io.sql.get_schema(df, 'yellow_taxi_data')

In [9]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [10]:
df = next(df_iter)

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
df.head(n=0).to_sql('yellow_taxi_data', engine, if_exists='replace', index=False)

0

In [13]:
#%time df.to_sql('yellow_taxi_data', engine, if_exists='append', index=False)

In [14]:
# insert data in chunks
for df in df_iter:
    start_time = time.time()
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql('yellow_taxi_data', engine, if_exists='append', index=False)
    end_time = time.time()
    print("Chunk Data inserted..., time elapsed: ", end_time - start_time)

Chunk Data inserted..., time elapsed:  18.438740015029907
Chunk Data inserted..., time elapsed:  44.5148663520813
Chunk Data inserted..., time elapsed:  26.76021409034729
Chunk Data inserted..., time elapsed:  23.870470762252808
Chunk Data inserted..., time elapsed:  20.901843309402466
Chunk Data inserted..., time elapsed:  19.77406096458435
Chunk Data inserted..., time elapsed:  19.564963817596436
Chunk Data inserted..., time elapsed:  23.341928005218506
Chunk Data inserted..., time elapsed:  25.5652117729187
Chunk Data inserted..., time elapsed:  19.376256942749023
Chunk Data inserted..., time elapsed:  16.111732959747314

/var/folders/mz/yx8hj6fj7pq2wfr31zpwrlvm0000gp/T/ipykernel_32930/1103273288.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in df_iter:

Chunk Data inserted..., time elapsed:  18.77980613708496
Chunk Data inserted..., time elapsed:  17.03373908996582